# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=wicked_db

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# CORS Origins
# Puedes usar JSON array o lista separada por comas.
CORS_ORIGINS=["http://localhost:5173","http://localhost:8080","http://wickednas:5173","http://wickednas:8080"]

# TMDb
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
